//- Header
section.wrapper-header
  .wrapper-inner
    header.header
      .header__cta
        a.btn--orange(href='mailto:mossified.com', target='_blank') Connect
      .header__logo
        a(href='/')
          .header__logo__img
            include logo



